@using GridMvc.Html
@model IEnumerable<RaptorENEL_V._1._0.Models.Base>

@{
    ViewBag.Title = "Index";
}


<h2>LISTADO ANOMALÍAS/TIPO REPORTES</h2>

<div class="dataTables_wrapper form-inline no-footer">
    <div class="row">
        <div class="col-md-7">

        </div>

        <div class="col-md-5">
            <a class="btn btn-secondary btn-icon bottom15 right15" href="@Url.Action("Create","Bases")">
                <span class="title"> Agregar Anomalía/Tipo Reporte</span>
                <i class="fa fa-plus"></i>
            </a>
            <div class="dataTables_length" id="example_length" style="float: right;">

                @using (Html.BeginForm("Index", "Bases", FormMethod.Post, new { id = "pgForm", name = "pgForm" }))
                {
                    <select id="grid-size" name="grid-size" aria-controls="example" class="form-control input-sm select2-wrapper" onchange="SelectedIndexChanged()">
                        @if (@Session["Paginacion"].ToString() == "10")
                        {
                            <option value="10" selected>10</option>}
                        else
                        {
                            <option value="10">10</option>}
                        @if (@Session["Paginacion"].ToString() == "25")
                        {
                            <option value="25" selected>25</option>}
                        else
                        {
                            <option value="25">25</option>}
                        @if (@Session["Paginacion"].ToString() == "50")
                        {
                            <option value="50" selected>50</option>}
                        else
                        {
                            <option value="50">50</option>}
                        @if (@Session["Paginacion"].ToString() == "100")
                        {
                            <option value="100" selected>100</option>}
                        else
                        {
                            <option value="100">100</option>}
                    </select>
                }

            </div>
        </div>
    </div>
    <div class="row" id="content">
        @Html.Grid(Model).Columns(columns =>
   {
       columns.Add(c => c.codigo).Titled("Código").Filterable(true).SetWidth("5%"); ;
       columns.Add(c => c.tipo).Titled("Tipo").RenderValueAs(c => c.tipo == "A" ? @"Anomalía" : @"Tipo Reporte").SetWidth("15%");
       columns.Add(c => c.proceso).Titled("Proceso").SetWidth("10%");
       columns.Add(c => c.descripcion).Titled("Descripción").SetWidth("35%");
       columns.Add(c => c.fecha_creacion).Titled("Fecha Creación").SetWidth("20%");
       columns.Add(c => c.activo).Titled("Activo")
                    .Sanitized(false)
                    .Encoded(false)
                    .RenderValueAs(c => c.activo ? @"Si" : @"No").SetWidth("5%");
       columns.Add()
           .Titled("Editar")
           .Css("text-center")
           .Filterable(true)
           .Sanitized(false)
           .Encoded(false).SetWidth("5%")
          .RenderValueAs(c => @"<a class='btn-icon' href='Bases/Edit/" + c.codigo + @"'>  <i class='fa fa-pencil-square-o icon-info'></i></a>");
       columns.Add()
         .Titled("Eliminar")
         .Css("text-center")
         .Filterable(true)
         .Sanitized(false)
         .Encoded(false).SetWidth("5%")
         .RenderValueAs(c => @"<a class='btn-icon' href='Bases/Delete/" + c.codigo + @"'>  <i class='fa fa-trash-o icon-accent'></i></a>");
   }).WithPaging(int.Parse(@Session["Paginacion"].ToString())).Sortable(true)
    </div>
</div>


<script>
  $(function(){
     var msg = "@(TempData["Msg"] as string)";
     if (msg !== "") {
         toastr.success(msg);
     }
  });


    function SelectedIndexChanged() {
        //Form post
        document.pgForm.submit();
    }

</script>

