@using GridMvc.Html
@using RaptorENEL_V._1._0.DAL
@model IEnumerable<RaptorENEL_V._1._0.Models.ImagenCandidato>

@{
    ViewBag.Title = "Index";
}


<h2>LISTADO IMAGEN TERRENO</h2>

<div class="dataTables_wrapper form-inline no-footer">
    <div class="row">
        <div class="col-md-7">

        </div>

        <div class="col-md-5">
            <a class="btn btn-secondary btn-icon bottom15 right15" href="@Url.Action("Create","ImagenCandidato")">
                <span class="title"> Agregar Imagen Terreno</span>
                <i class="fa fa-plus"></i>
            </a>
            <div class="dataTables_length" id="example_length" style="float: right;">

                @using (Html.BeginForm("Index", "ImagenCandidato", FormMethod.Post, new { id = "pgForm", name = "pgForm" }))
                {
                    <select id="grid-size" name="grid-size" aria-controls="example" class="form-control input-sm select2-wrapper" onchange="SelectedIndexChanged()">
                        @if (@Session["Paginacion"].ToString() == "10")
                        {
                            <option value="10" selected>10</option>}
                        else
                        {
                            <option value="10">10</option>}
                        @if (@Session["Paginacion"].ToString() == "25")
                        {
                            <option value="25" selected>25</option>}
                        else
                        {
                            <option value="25">25</option>}
                        @if (@Session["Paginacion"].ToString() == "50")
                        {
                            <option value="50" selected>50</option>}
                        else
                        {
                            <option value="50">50</option>}
                        @if (@Session["Paginacion"].ToString() == "100")
                        {
                            <option value="100" selected>100</option>}
                        else
                        {
                            <option value="100">100</option>}
                    </select>
                }

            </div>
        </div>
    </div>
    <div class="row" id="content">
        @Html.Grid(Model).Columns(columns =>
   {
       columns.Add(c => c.solicitud).Titled("Solicitud").Filterable(true);
       columns.Add(c => c.observaciones).Titled("Observaciones");
       columns.Add(c => c.imagen).Titled("Imagen")
           .Sanitized(false)
           .Encoded(false)
           .RenderValueAs(c => @"<a href='"+RaptorContext.hostImages + c.imagen +"'>" + c.imagen + "</a>");
       columns.Add()
           .Titled("Editar")
           .Css("text-center")
           .Filterable(true)
           .Sanitized(false)
           .Encoded(false).SetWidth("5%")
          .RenderValueAs(c => @"<a class='btn-icon' href='ImagenCandidato/Edit/" + c.id + @"'>  <i class='fa fa-pencil-square-o icon-info'></i></a>");
       columns.Add()
         .Titled("Eliminar")
         .Css("text-center")
         .Filterable(true)
         .Sanitized(false)
         .Encoded(false).SetWidth("5%")
         .RenderValueAs(c => @"<a class='btn-icon' href='ImagenCandidato/Delete/" + c.id + @"'>  <i class='fa fa-trash-o icon-accent'></i></a>");
   }).WithPaging(int.Parse(@Session["Paginacion"].ToString())).Sortable(true)
    </div>
</div>


<script>
  $(function(){
     var msg = "@(TempData["Msg"] as string)";
     if (msg !== "") {
         toastr.success(msg);
     }
  });


    function SelectedIndexChanged() {
        //Form post
        document.pgForm.submit();
    }

</script>

