@using GridMvc.Html
@model IEnumerable<RaptorENEL_V._1._0.Models.Ubala>

@{
    ViewBag.Title = "Index";
}

<h2>LISTADO DE UBALAS</h2>

<div class="dataTables_wrapper form-inline no-footer">
    <div class="row">
        <div class="col-md-7">

        </div>

        <div class="col-md-5">
            <a class="btn btn-secondary btn-icon bottom15 right15" href="@Url.Action("Create","Ubala")">
                <span class="title"> Agregar Ubala</span>
                <i class="fa fa-plus"></i>
            </a>
            <div class="dataTables_length" id="example_length" style="float: right;">

                @using (Html.BeginForm("Index", "Ubala", FormMethod.Post, new { id = "pgForm", name = "pgForm" }))
                {
                    <select id="grid-size" name="grid-size" aria-controls="example" class="form-control input-sm select2-wrapper" onchange="SelectedIndexChanged()">
                        @if (@Session["Paginacion"].ToString() == "10")
                        {
                            <option value="10" selected>10</option>}
                        else
                        {
                            <option value="10">10</option>}
                        @if (@Session["Paginacion"].ToString() == "25")
                        {
                            <option value="25" selected>25</option>}
                        else
                        {
                            <option value="25">25</option>}
                        @if (@Session["Paginacion"].ToString() == "50")
                        {
                            <option value="50" selected>50</option>}
                        else
                        {
                            <option value="50">50</option>}
                        @if (@Session["Paginacion"].ToString() == "100")
                        {
                            <option value="100" selected>100</option>}
                        else
                        {
                            <option value="100">100</option>}
                    </select>
                }

            </div>
        </div>
    </div>
    <div class="row" id="content">
        @Html.Grid(Model).Columns(columns =>
   {
       columns.Add(c => c.factibilidad).Titled("Código").Filterable(true);
       columns.Add(c => c.estado_predio).Titled("Estado del<br/>predio").RenderValueAs(c => c.estado_predio == "S" ? @"Sin servicio" : c.estado_predio == "C" ? @"Conectado" : c.estado_predio == "R" ? @"Sin servicio - red existente codensa" : c.estado_predio == "T" ? @"Sin servicio - red construida tercero" : c.estado_predio == "M" ? @"Con servicio (medidor)" : c.estado_predio == "J" ? @"Servicio directo - red codensa" : @"Servicio directo - red terceros");
       columns.Add(c => c.mantenimiento_red).Titled("Mantenimiento red");
       columns.Add(c => c.tipo_carga).Titled("Tipo carga").RenderValueAs(c => c.tipo_carga == "M" ? @"Monofásico" : c.tipo_carga == "B" ? @"Bifásico" : @"Trifásico");
       columns.Add(c => c.cobertura).Titled("Cobertura").RenderValueAs(c => c.tipo_carga == "N" ? @"Ninguna" : c.tipo_carga == "C" ? @"Claro" : c.tipo_carga == "T" ? @"Tigo" : @"Movistar");
       columns.Add(c => c.distancia).Titled("Distancia").SetWidth("10%").RenderValueAs(c => c.distancia == 0 ? c.distancia.ToString() : c.distancia.ToString("#.##"));       
       columns.Add()
           .Titled("Editar")
           .Css("text-center")
           .Filterable(true)
           .Sanitized(false)
           .Encoded(false).SetWidth("5%")
          .RenderValueAs(c => @"<a class='btn-icon' href='Ubala/Edit/" + c.factibilidad + @"'>  <i class='fa fa-pencil-square-o icon-info'></i></a>");
       columns.Add()
         .Titled("Eliminar")
         .Css("text-center")
         .Filterable(true)
         .Sanitized(false)
         .Encoded(false).SetWidth("5%")
         .RenderValueAs(c => @"<a class='btn-icon' href='Ubala/Delete/" + c.factibilidad + @"'>  <i class='fa fa-trash-o icon-accent'></i></a>");
   }).WithPaging(int.Parse(@Session["Paginacion"].ToString())).Sortable(true)
    </div>
</div>


<script>
  $(function(){
     var msg = "@(TempData["Msg"] as string)";
     if (msg !== "") {
         toastr.success(msg);
     }
  });


    function SelectedIndexChanged() {
        //Form post
        document.pgForm.submit();
    }

</script>

