@model RaptorENEL_V._1._0.Models.Candidato

@{
    ViewBag.Title = "Delete";
}

<h2>ELIMINAR CANDIDATO CUNDINAMARCA 100%</h2>

<h3>¿Está seguro de eliminar este registro?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.sucursal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sucursal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.solicitud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.solicitud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.municipio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.municipio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.propietario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.propietario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.zona)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zona)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.subzona)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subzona)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.latitud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.latitud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.longitud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.longitud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
            <div class="text-left">
                <a class="btn btn-secondary btn-icon bottom15 right15" href="@Url.Action("Index","Candidato")">
                    <i class="fa fa-arrow-left"></i>
                    <span class="title">Regresar</span>
                </a>

                <button type="submit" class="btn btn-info btn-icon bottom15 right15">
                    <i class="fa fa-trash-o"></i> &nbsp; <span>Eliminar</span>
                </button>
            </div>
        </div>

    }
</div>
