@model RaptorENEL_V._1._0.Models.User

@{
    ViewBag.Title = "Delete";
}

<h2>ELIMINAR USUARIO</h2>

<h3>¿Está seguro de eliminar este usuario?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre de usuario
        </dt>

        <dd>
            @Html.DisplayFor(model => model.username)
        </dd>
        
        <dt>
           Constraseña
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
           Nombres
        </dt>

        <dd>
            @Html.DisplayFor(model => model.first_name)
        </dd>

        <dt>
            Apellidos
        </dt>

        <dd>
            @Html.DisplayFor(model => model.last_name)
        </dd>

        <dt>
            Correo electrónico
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            Es staff
        </dt>

        <dd>
            @Html.DisplayFor(model => model.is_staff)
        </dd>

        <dt>
            Activo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.is_active)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()


        <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
            <div class="text-left">
                <a class="btn btn-secondary btn-icon bottom15 right15" href="@Url.Action("Index","User")">
                    <i class="fa fa-arrow-left"></i>
                    <span class="title">Regresar</span>
                </a>

                <button type="submit" class="btn btn-info btn-icon bottom15 right15">
                    <i class="fa fa-trash-o"></i> &nbsp; <span>Eliminar</span>
                </button>
            </div>
        </div>



    }


</div>

