@using RaptorENEL_V._1._0.DAL
@model RaptorENEL_V._1._0.Models.Hurto

@{
    ViewBag.Title = "Delete";
}

<h2>ELIMINAR REPORTE HURTO</h2>

<h3>¿Está seguro de eliminar este registro?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.anomalia.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.anomalia.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo_reporte.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_reporte.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nse_referencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nse_referencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.medidor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.medidor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lectura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lectura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imagen)
        </dt>

        <dd>

            <a href="@RaptorContext.hostImages@Html.DisplayFor(model => model.imagen)">@Html.DisplayFor(model => model.imagen)</a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ciclo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ciclo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.grupo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.grupo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.observacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.observacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_creacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_creacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.procesado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.procesado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.finalizado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.finalizado)
        </dd>

    </dl>

    <div id="map" style="width: 100%; height: 480px;"></div>
    <script>

      // The following example creates a marker in Stockholm, Sweden using a DROP
      // animation. Clicking on the marker will toggle the animation between a BOUNCE
      // animation and no animation.

            var marker;

            function initMap() {
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 9,
                    center: { lat: @ViewBag.latitud, lng: @ViewBag.longitud }
                });

                marker = new google.maps.Marker({
                    map: map,
                    draggable: false,
                    animation: google.maps.Animation.DROP,
                    position: {  lat: @ViewBag.latitud, lng: @ViewBag.longitud  }
                });

            }


    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCo2PhrT57I379Z5Bp6PYj1mO0zT5nvk_Q&callback=initMap">
    </script>

    <br />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
            <div class="text-left">
                <a class="btn btn-secondary btn-icon bottom15 right15" href="@Url.Action("Index","Hurtoes")">
                    <i class="fa fa-arrow-left"></i>
                    <span class="title">Regresar</span>
                </a>

                <button type="submit" class="btn btn-info btn-icon bottom15 right15">
                    <i class="fa fa-trash-o"></i> &nbsp; <span>Eliminar</span>
                </button>
            </div>
        </div>

    }
</div>
