<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>@ViewBag.PageTitle</title>
    @Styles.Render("~/css/css")
    <!-- Scripts.Render("~/bundles/modernizr")-->
    @Scripts.Render("~/bundles/jquery")


 
</head>
<body>
    <!-- START TOP BAR -->
    <div class="page-topbar">
        
        <!-- START LOGO AREA -->
        <div class="logo-area">
            <!-- table border="0" cellspacing="0" cellpadding="0" width="260">
                <tr>
                    <td width="100%" align="center" valign="middle">
                        <img src="~/Images/Enel_logo_2016.png" height="36" alt="ENEL" title="" />
                    </td>
                </tr>
            </table -->
        </div>
        <!-- END LOGO AREA -->

        <!-- START QUICK AREA -->
        <div class="quick-area">
            <!-- START PULL LEFT -->
            <div class="pull-left">
                <ul class="info-menu left-links list-inline list-unstyled">
                    <li class="sidebar-toggle-wrap">
                        <a href="#" data-toggle="sidebar" class="sidebar_toggle">
                            <i class="fa fa-bars" style="font-size: 22px; margin-top: 10px;"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- END PULL LEFT -->
            <!-- START PULL RIGHT -->
            <div class="pull-right">
                <ul class="info-menu right-links list-inline list-unstyled">

                    <li>
                        <i class="fa fa-calendar" style="color: red;"></i>
                        <span style="margin-left: 5px; margin-right5px;">
                        @DateTime.Now.ToString("dd/MM/yyyy hh:mm")
                        </span>
                    </li>

                    <li>
                        <a href="#">
                            <i class="fa fa-info" style="color: orange;"></i>
                            <span style="margin-left: 5px; margin-right5px;">Acerca de</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="fa fa-lock" style="color: limegreen;"></i>
                            <span style="margin-left: 5px; margin-right5px;">Salir</span>
                        </a>
                    </li>

                </ul>
            </div>
            <!-- END PULL RIGHT -->
        </div>
        <!-- END QUICK AREA -->

    </div>
    <!-- END TOP BAR -->
    
    <!-- START ALERT BAR -->
    @if (TempData["ShowResult"]!=null)
    {
        if ((Boolean)TempData["ShowResult"])
        {
            <div id="alert-box" class="alert @TempData["alertStyle"] alert-dismissible fade in">
                <table width="100%" border="0" cellpadding="1" cellspacing="1">
                    <tr>
                        <td width="10%"></td>
                        <td align="center" valign="middle">
                            <!-- strong>Exito:</--strong -->
                            @TempData["alertMessage"]
                            &nbsp;&nbsp;&nbsp;
                            <i class="fa @TempData["alertType"] fa-2x"></i>
                        </td>
                        <td width="10%">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="margin-left: 25px;">
                                <span aria-hidden="true">×</span>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
            <script type="text/javascript">
                $("#alert-box").fadeIn('fast').delay(4000).fadeOut('slow');
            </script>
        }
    }
    <!-- END ALERT BAR -->

    <!-- START CONTAINER -->
    <div class="page-container row-fluid container-fluid">

        <!-- START SIDEBAR MENU -->
        <div class="page-sidebar pagescroll">

            <!-- START MAIN MENU -->
            <div class="page-sidebar-wrapper" id="main-menu-wrapper">

                <!-- START USER INFO -->
                <div class="profile-info row">

                    <div class="profile-image col-xs-4">
                        <!--span class="glyphicons glyphicons-user"></span-->
                        <a href="#">
                            <img alt="" src="~/Images/user-default.jpg" height="65" class="img-responsive img-circle" -->
                        </a>
                    </div>

                    <div class="profile-details col-xs-8">
                        <h3>
                            <a href="#">John Connor</a>
                            <!-- Available statuses: online, idle, busy, away and offline -->
                            <span class="profile-status online"></span>
                        </h3>
                        <p class="profile-title">Administrator</p>
                    </div>

                </div>
                <!-- END USER INFO -->
                <!-- START SIDE MENU LIST -->
                <ul class="wraplist" style="height: auto;">

                    <li class="">
                        <a href="#">
                            <i class="fa fa-dashboard"></i>
                            <span class="title">Dashboard</span>
                        </a>
                    </li>

                    <li class="">
                        <a href="javascript:;">
                            <i class="fa fa fa-address-card"></i>
                            <span class="title" style="font-size:95%">Autenticación y autorización</span>
                            <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a class="" href="@Url.Action("Index","User")">
                                    <i class="fa fa-user"></i>
                                    <span class="title" style="font-size:95%">Usuarios</span>
                                </a>
                            </li>
                            <li>
                                <a class="" href="#">
                                    <i class="fa fa-users"></i>
                                    <span class="title" style="font-size:95%">Roles</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="">
                        <a href="javascript:;">
                            <i class="fa fa-th-list"></i>
                            <span class="title" style="font-size:95%">Básica</span>
                            <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a class="" href="@Url.Action("Index","Bases")">
                                    <i class="fa fa-list"></i>
                                    <span class="title" style="font-size:95%">Anomalias/tipo de reportes</span>
                                </a>
                            </li>
                            <li>
                                <a class="" href="@Url.Action("Index","Municipios")">
                                    <i class="fa fa-map"></i>
                                    <span class="title" style="font-size:95%">Municipios</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="">
                        <a href="javascript:;">
                            <i class="fa fa-th-list"></i>
                            <span class="title" style="font-size:95%">Cundinamarca100</span>
                            <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a class="" href="@Url.Action("Index","Reportecandidato")">
                                    <i class="fa fa-list"></i>
                                    <span class="title" style="font-size:85%">Anexos Cundinamarca 100%</span>
                                </a>
                            </li>
                            <li>
                                <a class="" href="@Url.Action("Index","Candidato")">
                                    <i class="fa fa-list"></i>
                                    <span class="title" style="font-size:80%">Candidato Cundinamarca 100%</span>
                                </a>
                            </li>
                            <li>
                                <a class="" href="@Url.Action("Index","ImagenCandidato")">
                                    <i class="fa fa-image"></i>
                                    <span class="title" style="font-size:95%">Imagenes terreno</span>
                                </a>
                            </li>
                            <li>
                                <a class="" href="@Url.Action("Index","Ubala")">
                                    <i class="fa fa-list"></i>
                                    <span class="title" style="font-size:95%">Ubala(s)</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="">
                        <a href="javascript:;">
                            <i class="fa fa-th-list"></i>
                            <span class="title">Hurtos</span>
                            <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a class="" href="@Url.Action("Index","Hurtoes")">
                                    <i class="fa fa-list"></i>
                                    <span class="title">Reportes hurto</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="">
                        <a href="javascript:;">
                            <i class="fa fa-th-list"></i>
                            <span class="title">Incidencias</span>
                            <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a class="" href="@Url.Action("Index","Notificacion")">
                                    <i class="fa fa-list"></i>
                                    <span class="title" style="font-size:80%">Configuración de notificaciones</span>
                                </a>
                            </li>
                            <li>
                                <a class="" href="#">
                                    <i class="fa fa-list"></i>
                                    <span class="title">Reporte incidencias</span>
                                </a>
                            </li>
                            <li>
                                <a class="" href="#">
                                    <i class="fa fa-list"></i>
                                    <span class="title">Seguimiento y cierre</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="">
                        <a href="#">
                            <i class="fa fa-lock"></i>
                            <span class="title">Salir</span>
                        </a>
                    </li>

                </ul>
                <!-- END SIDE MENU LIST -->

            </div>
            <!-- END MAIN MENU -->

        </div>
        <!-- END SIDEBAR MENU -->

        <!-- START CONTENT -->
        <section id="main-content" class="">
            <section class="wrapper main-wrapper row" style="">

                <!-- START PAGE HEADING SECTION -->
                <div class="col-xs-12">
                    <div class="page-title">
                        <div class="pull-left">
                            <!-- PAGE HEADING TAG - START -->
                            <h1 class="title">@ViewBag.ContentTitle</h1>
                            <!-- PAGE HEADING TAG - END -->
                        </div>
                        <div class="pull-right hidden-xs">
                            <ol class="breadcrumb">
                                <li>
                                    <a href="@Url.Action("Index","Home")"><i class="fa fa-home" style="color: dodgerblue;"></i> Home</a>
                                </li>
                                <li class="active">
                                    <strong>Dashboard</strong>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- END PAGE HEADING SECTION -->

                <div class="clearfix"></div>
                <div class="col-lg-12">
                    <section class="box ">

                        <div class="content-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    @RenderBody()
                                </div>
                            </div>
                        </div>

                    </section>
                </div>

            </section>
        </section>
        <!-- END CONTENT -->

    </div>
    <!-- END CONTAINER -->

    <!-- START BUSY MODAL -->
    <div id="modal_loading">
        <table width="100%" height="100%" border="0">
            <tr>
                <td align="center" valign="middle">
                    <img src="~/Images/loading-cloud.gif" alt="" title="" />
                </td>
            </tr>
        </table>
    </div>
    <!-- END BUSY MODAL -->

    <!--
        <div class="container">
            <div class="masthead">
                <h3 class="text-muted">@Html.ActionLink("Application Name", "Index", "Home")</h3>
                <ul class="nav nav-justified">
                    <li>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "active" })</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>

        <div class="container body-content">
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>
    -->
            
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)

    

</body>
</html>
